.spinner {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 25px;
    height: 25px;
    &:after {
        content: " ";
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 3px solid #0b1015;
        border-color: #0b1015 transparent #0b1015 transparent;
        animation: spinner-animation 1.0s linear infinite;
    }
  }
  @keyframes spinner-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  